<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../css/fontello.css">
    <link rel="stylesheet" href="../bootstrap4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Rock-up</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-auto logo">
                    <a href="#">
                        <img src="../assets/image/maloik3.png">
                    </a>
                </div>
                <div class="col-12 col-sm-8 col-lg-6 buscar mb-2 mb-sm-0">
                    <div class="row no-gutters">
                        <div class="col-10">
                            <P class="h3 text-white">RockUp!</P>
                        </div>
                    </div>
                </div>
                <nav class="col-12 col-sm-3 col-lg-2 menu d-flex justify-content-between ml-auto mb-2 mb-sm-0">
                    <a href="#">
                        <i class="fas fa-home"></i>
                    </a>
                    <a href="#">
                        <i class="icon-bell-alt"></i>
                    </a>
                    <a href="#" class="imagen">
                        <img src="../assets/image/persona2.jpg" width="22" height="22" alt="">
                    </a>
                </nav>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="row">
            <!--barra izquierda-->
            <div class="d-none col-md-3 d-md-block barra-lateral-izquierda" id="barra-lateral-izquierda">
                <nav>
                    <a href="#">
                        <i class="icon-users"></i>Amigos</a>
                    <a href="#">
                        <i class="icon-mail"></i>Mensajes</a>
                    <a href="#">
                        <i class="icon-thumbs-up"></i>Paginas</a>
                    <a href="#">
                        <i class="icon-play"></i>Videos</a>
                    <a href="#">
                        <i class="icon-file-image"></i>Fotos</a>
                    <a href="#">
                        <i class="icon-music"></i>Musica</a>

                </nav>
            </div>
            <a href="#" class="fondo-enlace d-md-none" id="fondo-enlace"></a>
            <!--barra central-->
            <div class="col contenido-principal">
                <div class="publicar">
                    <div class="row">
                        <div class="col-auto foto">
                            <a href="#">
                                <img src="../assets/image/persona2.jpg" alt="">
                            </a>
                        </div>
                        <div class="col">
                            <form action="">
                                <textarea name="mensaje" id="post-text" placeholder="Publicar mensaje"></textarea>
                                <div class="contenedor-botones d-flex justify-content-between">
                                    <div class="media">
                                        <a href="#">
                                            <i class="icon-file-image"></i>
                                        </a>
                                        <a href="#">
                                            <i class="icon-play"></i>
                                        </a>
                                        <a href="#">
                                            <i class="icon-music"></i>
                                        </a>
                                    </div>
                                    <div>
                                        <button id="publish">Publicar</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--publicacion 2-->
                <div id="publicaciones">
                    <div class="publicacion">
                        <div class="row">
                            <div class="col-auto foto">
                                <a href="#">
                                    <img src="../assets/image/persona5.jpg" alt="">
                                </a>
                            </div>
                            <div class="col">
                                <div class="post">
                                    <a href="#" class="nombre">Luisa Kent</a>
                                    <p class="texto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio minima maxime similique
                                        explicabo perspiciatis quidem ipsum consequuntur facilis ex distinctio! Excepturi
                                        voluptas consectetur ut dolor, rerum quae fugiat sint veritatis.
                                    </p>
                                    <div class="caja-botones d-flex justify-content-between align-items-center">
                                        <button>
                                            <i class="icon-thumbs-up"></i>
                                        </button>
                                        <p>15
                                            <i class="icon-thumbs-up"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10 offset-2">
                                <div class="comentarios">
                                    <div class="row no-gutters comentario">
                                        <div class="col-auto foto">
                                            <a href="">
                                                <img src="../assets/image/persona2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col">
                                            <form action="">
                                                <textarea name="" id="" placeholder="Comentario"></textarea>
                                            </form>
                                        </div>

                                    </div>
                                    <div class="row no-gutters comentario">
                                        <div class="col-auto foto">
                                            <a href="">
                                                <img src="../assets/image/persona2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col">
                                            <p class="respuesta">
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo quasi
                                            </p>
                                            <a href="#" class="me-gusta">Me gusta</a>

                                        </div>
                                    </div>
                                    <div class="row no-gutters comentario">
                                        <div class="col-auto foto">
                                            <a href="">
                                                <img src="../assets/image/persona5.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col">
                                            <p class="respuesta">
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo quasi
                                            </p>
                                            <a href="#" class="me-gusta">Me gusta</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="publicacion">
                        <div class="row">
                            <div class="col-auto foto">
                                <a href="#">
                                    <img src="../assets/image/persona3.jpg" alt="">
                                </a>
                            </div>
                            <div class="col">
                                <div class="post">
                                    <a href="#" class="nombre">Lorena Kent</a>
                                    <div class="imagen">
                                        <img src="../assets/image/disidente3.jpg" alt="">
                                    </div>
                                    <div class="caja-botones d-flex justify-content-between align-items-center">
                                        <button>
                                            <i class="icon-thumbs-up"></i>
                                        </button>
                                        <p>15
                                            <i class="icon-thumbs-up"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10 offset-2">
                                <div class="comentarios">
                                    <div class="row no-gutters comentario">
                                        <div class="col-auto foto">
                                            <a href="">
                                                <img src="../assets/image/persona2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col">
                                            <form action="">
                                                <textarea name="" id="" placeholder="Comentario"></textarea>
                                            </form>
                                        </div>

                                    </div>
                                    <div class="row no-gutters comentario">
                                        <div class="col-auto foto">
                                            <a href="">
                                                <img src="../assets/image/persona2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col">
                                            <p class="respuesta">
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo quasi
                                            </p>
                                            <a href="#" class="me-gusta">Me gusta</a>

                                        </div>
                                    </div>
                                    <div class="row no-gutters comentario">
                                        <div class="col-auto foto">
                                            <a href="">
                                                <img src="../assets/image/persona5.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col">
                                            <p class="respuesta">
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo quasi
                                            </p>
                                            <a href="#" class="me-gusta">Me gusta</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--barra derecha-->
            <div class=" col-12 col-lg-3 barra-lateral-derecha">
                <h3>Grupos</h3>
                <div class="ads">
                    <a href="#">
                        <img src="../assets/image/universo.jpg" width="300" alt="">
                    </a>
                    <a href="#">
                        <img src="../assets/image/parazit2.jpg" width="300" alt="">
                    </a>
                    <a href="#">
                        <img src="../assets/image/shelby.jpg" width="300" alt="">
                    </a>
                </div>
                <footer>
                    <a href="#">Privacidad</a>
                    <a href="#">Condiciones</a>
                    <a href="#">Publicidad</a>
                    <p class="copyright">Copyright©RockUp2018</p>

                </footer>
            </div>
        </div>
    </main>
    <h1>INICIA SESION</h1>
    <button id="login">inicia con google</button>
    <div id="root"></div>
    <button id="guardar">guardar</button>





    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    
<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBrZdmxDKcMZXT7cQHnN0QHyHYBKiNTnro",
    authDomain: "rock-47215.firebaseapp.com",
    databaseURL: "https://rock-47215.firebaseio.com",
    projectId: "rock-47215",
    storageBucket: "",
    messagingSenderId: "291761726573"
  };
  firebase.initializeApp(config);
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="../bootstrap4.1/js/bootstrap.min.js"></script>
    <script src="../js/principalvw.js"></script>
</body>

</html>